
<form action="UserUpdate" controller="Home" method="post">
    <label for="Name">Kullanıcı adı giriniz:</label>
    <input type="text" name="Name" id="Name" />
    <br />
    <label for="Age">Kullanıcı adı giriniz:</label>
    <input type="text" name="Age" id="Age" />
    <button>Güncelle</button>
</form>
