<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Update</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            
        }

        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-form {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }

            .login-form h2 {
                margin-bottom: 20px;
                color: #007bff;
            }

        .input-group {
            margin-bottom: 20px;
        }

            .input-group label {
                display: block;
                margin-bottom: 5px;
                color: #333;
            }

            .input-group input {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                margin-top: 5px;
            }

        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            button[type="submit"]:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="login-container">
        <form class="login-form" action="UserUpdate" method="post" controller="Home">
            <h2>User Update</h2>
            <div class="input-group">
                <label for="Name">Kullanıcı Adı:</label>
                <input type="text" name="Name" id="Name" required />
            </div>
            <div class="input-group">
                <label for="Age">Yeni Yaş:</label>
                <input type="text" name="Age" id="Age" required />
            </div>
            <button type="submit">Güncelle</button>
        </form>
    </div>
</body>
</html>
